{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Title</title>
</head>
<body>

<div class="container">
    <h1>Hello world</h1>
    <a href="/article/add/">Add Article</a>
    {% for article in articles %}
        <h2>{{ article.title }}</h2>
        <h2>{{ article.text }}</h2>
        <p>
            <a href="/article/{{ article.pk }}">Подробнее....</a>
        </p>
    {% endfor %}
</div>







</body>
</html>















<!--<div class="container">-->
<!--    <h1>Hello world</h1>-->
<!--    <a href="/article/add/">Add Article</a>-->
<!--    <form action="/">-->
<!--        <input type="text" name="first" value="{{ first }}">-->
<!--        <input type="text" name="second" value="{{ second }}">-->
<!--        <input type="submit">-->

<!--    <p>Result: {{ result }}</p>-->

<!--    </form>-->
<!--    <p>Lorem*40</p>-->
<!--</div>-->